html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}

ol, ul, menu {
  list-style: none;
  margin: 0;
  padding: 0!important;
}

.desc {
  /* position: relative; */
}

.ul-desc {
  /* list-style: inside; */
}

.ul-desc li {
  position: relative;
  margin-left: 1.5rem;
  padding-left: 1.5rem;
  margin-bottom: 1rem;
}

.div-desc ul li::before {
    content: "";
    position: absolute;
    left: 0px;
    top: 0.6em;
    width: 8px;
    height: 8px;
    /* background-color: rgb(255, 205, 0); */
    background-color: rgb(13,110,253);
    border-radius: 50%;
}
/* .div-desc ul li span {
  content: "";
  position: absolute;
  left: 0px;
  top: 0.6em;
  width: 8px;
  height: 8px;
  background-color: rgb(255, 205, 0);
  border-radius: 50%;
} */
*, ::after ::before {
  box-sizing: border-box;
  -webkit-font-smoothing: antialiased;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

.p-8 {
  padding: 2rem;
}

.z-0 {
  z-index: 0;
}
.relative {
  position: relative;
}
.flex {
  display: flex;
}
.flex-grow {
  flex-grow: 1;
}
.flex-row {
  flex-direction: row;
}

.font-bold {
  font-weight: 700;
}
.font-medium {
  font-weight: 500;
}
.font-semibold {
  font-weight: 600;
}	
.text-sm {
  font-size: .875rem;
  line-height: 1.25rem;
}
.text-sm-special {
  font-size: .90rem;
}
.text-special {
  font-size: .96rem;
}
.text-base {
  font-size: 1rem; /* 16px */
  line-height: 1.5rem; /* 24px */
}
.mt-0 {
  margin-top: 0!important;
}
.mt-4 {
  margin-top: 1rem!important;
}
.mb-2 {
  margin-bottom: 0.5rem !important;
}
.mb-6 {
  margin-bottom: 1.5rem;
}
.mb-8 {
  margin-bottom: 2rem;
}
.py-2 {
  padding-top: 0.5rem!important;
  padding-bottom: 0.5rem!important;
}
.rounded-md {
  border-radius: 0.375rem;
}
.special-p {
  margin-bottom: 0;
}
.special-hr {
  border-bottom: solid rgb(75 85 99) 1px;
}
footer {
  margin-top: 6rem;
}
ol, ul, menu {
  list-style: none;
  margin: 0;
  padding: 0;
}
footer a {
  color: inherit;
  text-decoration: inherit;
}
.border-b-gray-600 {
  /* --tw-border-opacity: 1;
  border-bottom-color: rgb(75 85 99 / var(--tw-border-opacity)); */
  --bs-text-opacity: 1;
  border-bottom-color: rgba(var(--bs-light-rgb),var(--bs-text-opacity))!important;
}
.border-b {
  border-bottom-width: 1px;
}
